name: Build-Branch

on:
  push:
    branches-ignore:
      - main
    paths-ignore:
      - '**.json'
      - '**.md'

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Run yamllint with common config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Run yamllint
        run: yamllint -c .github/linters/.yaml-lint.yaml .github/

  build:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip virtualenv setuptools
          pip install -r requirements-build.txt

      - id: ToxSetting
        run: |
          if [[ "${{ matrix.python-version }}" == "3.8" ]]
          then
            echo "::set-output name=toxenv::py38"
          elif [[ "${{ matrix.python-version }}" == "3.9" ]]
          then
            echo "::set-output name=toxenv::py39"
          else
            echo "::set-output name=toxenv::py310"
          fi

      - name: Test with tox
        run: |
          tox -r -e ${{ steps.ToxSetting.outputs.toxenv }}
